ul {
  list-style-type: none;
  margin: 0 60px;
  padding: 0;
  overflow: hidden;
}

li {
  width: 80px;
  float: left;
  display: block;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
}

li:hover {
  background-color: #7F56C5;
  color: #FFFFFF;
}

.navigation {
  background: #282653;
  font-size: .75rem;
  font-weight: 400;
  height: 50px;
  color: #95A2AA;
}

.active {
  background-color: #7F56C5;
  color: #FFFFFF;
}

