table {
  margin: auto;
  width: 90%;
  border-spacing: 0;
  border-collapse: collapse;
}

.header > tr {
  height: 32px;
  background: #CACBCE;
  border-radius: 3px 3px 0 0;
  font-size: .75rem;
  font-weight: 700;
  font-color: #95A2AA;
  text-align: left;
}

.row > tr {
  margin: auto;
  height: 32px;
  width: 90%;
  font-size: .75rem;
  font-weight: 400;
  font-color: #808285;
  text-align: left;
}

.row:nth-child(even) td {
  background: #F7F7F7;
}

.row:nth-child(odd) td {
  background: #F0F0F0;
}

.firstname {
  padding-left: 10px;
  width: 13%;
}

.lastname {
  padding-left: 10px;
  width: 13%;
}

.country {
  width: 7%;
}

.address {
  width: 25%;
}

.city {
  width: 12%;
}

.state {
  width: 8%;
}

.zip {
  width: 9%;
}

.phone {
  width: 14%;
}